footer {
    display: grid;
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    background-color: #fb6467ff;
}

.contenedor-iconos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.github {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.linkedin {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}