* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #69C8ECFF;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fb6467ff;
    margin: 0 auto;
}

.titulo {
    text-align: left;
    margin: 10px 50px;
}

.tituloNavLink {
    font-family: 'Creepster', cursive;
    font-size: 30px;
    color: #24325FFF;
    text-decoration: none;
}

@media screen and (max-width: 687px) {
    .titulo {
        margin: auto;
        text-align: center;
    }
}