form {
    text-align: right;
    margin: 0 50px;
}

.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #24325FFF;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #24325FFF;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: 8px;
}

.input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #24325FFF
}
   
.input::placeholder {
    color: #24325FFF
}
   
.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

@media screen and (max-width: 687px) {
    form {
        text-align: right;
        margin: 0 auto;
    }
    input.input {
        margin-top: 17px;
        margin-right: 5px;
    }
}